<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Souhrn rezervace</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='T-Mobile_New_Logo.png') }}" alt="T-Mobile Logo" class="logo">
        </header>
        <h1 class="title">Souhrn rezervace</h1>

        <div class="content">
            <div class="reservation-summary">
                <table class="summary-table">
                    <tr>
                        <th>Kategorie vozidla</th>
                        <td>{{ car_category }}</td>
                    </tr>
                    <tr>
                        <th>Období</th>
                        <td>{{ start_date }} - {{ end_date }}</td>
                    </tr>
                    <tr>
                        <th>Jméno řidiče</th>
                        <td>{{ driver_name }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ email }}</td>
                    </tr>
                    <tr>
                        <th>Účel</th>
                        <td>{{ purpose }}</td>
                    </tr>
                </table>

                <p>Podmínky:</p>
                <ul>
                    <li>Auto je k dispozici od 8:00 první den rezervace na parkovišti před hlavní budovou.</li>
                    <li>Vrácení auta je nutné provést nejpozději do 18:00 poslední den termínu rezervace zpět na parkoviště před hlavní budovou.</li>
                </ul>

                <form action="/thank_you" method="POST">
                    <input type="hidden" name="email" value="{{ email }}">
                    <button class="submit-btn" type="submit">Potvrdit rezervaci</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
